@import "../../global.scss";

.square {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 100%;
}
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  svg {
    /* Flips the svg and makes the animation to move left-to-right */
    transform: scaleX(-1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    g {
      width: 100%;
    }
    
  }
  
  /* Removes SVG styling that would hide the time label */
  .countDown {
    fill: none;
    stroke: none;
    
    .timeElapsed {
      stroke-width: 8px;
    }
    
    .timeLeft {
      stroke: '#ffb5b5';
      stroke-width: 2px;
      stroke-linecap: butt;
      transform: rotate(90deg);
      transform-origin: center;
    }
  }
  
  .label {
    .description {
      text-align: center;
      text-transform: uppercase;
      font-size: .8em;
      margin: 0;
    }
    .time {
      text-align: center;
      font-weight: bold;
      font-size: 2.5em;
      margin: 0;
    }
  }
}





