.wrapper {
  padding: 0.2em;
  opacity: .5;
  
  .innerWrapper {
    border-radius: 1.5em;
    padding: 0.4em;
  }
  
  .item {
    border-radius: 1em;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  &.next {
    .innerWrapper {
      border: 1px dashed blue;
    }
  }
  
  &.active {
    opacity: 1;
    .innerWrapper {
      border: 1px dashed rgb(0, 255, 55);
    }
  }

  .number {
    border-radius: 0 0 0 1em;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    padding: 1em;
    margin: 0;
    
  }
  
  .body {
    padding: 1em;
  }

}