@import '../../global.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  margin: 1em;
  margin-bottom: 0;

  .timerWrapper {
    margin: 0 auto;
    width: min(300px, 80vw)
  }
  .btnWrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1em;
    width: 100%;
    border-bottom: 1px solid lightGray;
    & > * {
      margin: 0 .5em;
      margin-bottom: -.8em;
      z-index: 1;
    }
  }

  .stepsWrapper {
    overflow: hidden;
  }

  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: clamp(300px, 40vw, 500px) 1fr;
    grid-template-rows: clamp(300px, 40vw, 500px) 1fr;

    .timerWrapper {
      margin: 20px;
      width: auto;
    }
    .btnWrapper {
      grid-row: 2 / span 1;
      align-items: flex-start;
    }
    .stepsWrapper {
      grid-row: 1 / span 2;
    }
  }
}
