@import '../../global.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  margin: 1em;
  margin-bottom: 0;
  // box-sizing: content-box;

  .timerWrapper {
    margin: 20px;
  }
  .btnWrapper {
    margin: 20px;
    display: flex;
    justify-content: space-between;
  }
}
