// COLORS
$doughLight: rgb(233, 205, 152);
$doughMedium: rgb(230, 194, 129);
$doughDark: rgb(218, 183, 118);
$darkBrown: rgb(70, 47, 22);
$mediumGray: rgb(172, 172, 172);
$lightGray: rgb(226, 226, 226);

$green: rgb(44, 184, 44);
$lightGreen: rgb(145, 226, 145);
$darkGreen: rgb(28, 160, 28);

$btnPrimaryBg: $doughMedium;
$btnPrimaryColor: $darkBrown;

$btnSecondaryBg: $darkBrown;
$btnSecondaryColor: $doughMedium;

$btnDisabledBg: $lightGray;
$btnDisabledColor: $mediumGray;

$tabFocusOutline: 6px solid $darkBrown; 


