@import '../../global.scss';

.link,
.button {
  text-decoration: none;
}

.button {
  display: flex;
  margin: 0 0 5px 5px;
  width: max-content;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: .2em;
  color: currentColor;
  padding: 1em;
  border: 2px solid;
  box-shadow: -5px 5px 0 0 currentColor;
  transition: all .05s ease-in-out;
  font-weight: 900;

  &.small {
    font-size: .8em;
  }
  
  &.medium {
    font-size: 1.1em;
  }

  &.large {
    font-size: 1.4em;
  }

  &.primary {
    background-color: $btnPrimaryBg;
    color: $btnPrimaryColor;
    &:hover {
      background-color: scale-color($btnPrimaryBg, $lightness: 15%);
    }
    &:active {
      background-color: scale-color($btnPrimaryBg, $lightness: -5%);
    }
  }
  
  &.secondary {
    background-color: $btnSecondaryBg;
    color: $btnSecondaryColor;
    &:hover {
      background-color: scale-color($btnSecondaryBg, $lightness: 15%);
    }
    &:active {
      background-color: scale-color($btnSecondaryBg, $lightness: -5%);
    }
  }
  
  &.disabled {
    background-color: $btnDisabledBg;
    color: $btnDisabledColor;
    &:hover,
    &:active {
      background-color: $btnDisabledBg;
    }
  }
}

.link {
  &.primary {
    color: $darkBrown;
    &:hover {
      color: $doughMedium;
    }
  }
  &.secondary {
    color: $doughDark;
    &:hover {
      color: $doughLight;
    }
  }

  &.small {
    font-size: .8em;
  }
  
  &.medium {
    font-size: 1em;
  }

  &.large {
    font-size: 1.4em;
  }

  &:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}